<nav class="navbar">
    <div>
        <a href="/"> Home </a>
        <a href="/house"> Listings </a>
        <a href="/house/new"> Create New Listing </a>
        <a href="/realtor"> Realtor Index </a>
        <a href="/realtor/new"> Realtor New </a>
    </div>
</nav>