<div class="topnav">
        <a href="/" class="logo"><img src="https://i.imgur.com/729GxJd.png" height="55" width="165"> </a>
    <div class="navbarlinks">
        <a href="/house"> Listings </a>
        <a href="/realtor"> Realtors </a>
    </div>
</div>