<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head')  %>
    <body class="homepage">
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title">Home Page</h2>
            </div>
        </section>

        <main class="container">
            <h1>Welcome to Listed!</h1>
            <div>
                 

            </div>
        <form class="search" action="/house/search" method="GET">
            <input class="bar" type="text" placeholder="Search Listing Name" name="houseName">
            <button><i class="fas fa-search">SEARCH</i></button>
        </form>
        </main>
        <div class="dcHome">
         <a href="/house/dc">D.C.</a>
         <img src="https://images.pexels.com/photos/2446915/pexels-photo-2446915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="max-width: 200px"> 
         </div>

        <div class="chiHome">
            <a href="/house/chicago">Chicago</a>
            <img src="https://images.pexels.com/photos/1797195/pexels-photo-1797195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="max-width: 200px">
        </div>

         <div class="dallasHome">
                <a href="/house/dallas">Dallas</a>
                <img src="https://images.pexels.com/photos/280193/pexels-photo-280193.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" style="max-width: 200px"> 
        </div>
	</body>
</html>