<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head')  %>
    <body>
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title">Home Page</h2>
            </div>
        </section>

        <main class="container">
            <h1>Welcome to Listed!</h1>
            <div>
                 

            </div>
        </main>
        <a href="/house/dc">D.C.</a>
        <a href="/house/chicago">Chicago</a>
        <a href="/house/dallas">Dallas</a>

        <form class="search" action="/house/search" method="GET">
            <input class="bar" type="text" placeholder="Search Listing Name" name="houseName">
            <button><i class="fas fa-search">SEARCH</i></button>
        </form>
	</body>
</html>