<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head')  %>
    <body>
    <%- include('partials/nav')  %>

        <section>
            <div>
                <h2 class="title">Home Page</h2>
            </div>
        </section>

        <main class="container">
            <h1>Welcome to Listed!</h1>
            <div>
                
            </div>
        </main>
    
	</body>
</html>