<!DOCTYPE html>
<html lang="en">
  <%- include( 'partials/head.ejs' ) %>
  <%- include( 'partials/nav.ejs' ) %>
  <body class="newHomeFormBody">
        <form class="newHomeForm" action="/house" method="POST">
          <div>
            <label for="name"></label>
            <input
            id="editHomeName"
              type="text"
              placeholder="Listing Title"
              name="name"
              id="name"
            />
          </div>
          <div>
            <label for="imageOne"></label>
            <input
            id="houseEditImg1"
            class= "input" 
            type= "text"
            placeholder= "Outside Image"
            name= "imageOne"
            id="imageOne"
            /> 
          </div>
          <div>
            <label for="imageTwo"></label>
            <input
            id="houseEditImg2"
            class= "input" 
            type= "text"
            placeholder= "Inside Image"
            name= "imageTwo"
            id="imageTwo"
            /> 
          </div>
          <div>
            <label for="imageThree"></label>
            <input
            id="houseEditImg3"
            class= "input" 
            type= "text"
            placeholder= "Inside Image"
            name= "imageThree"
            id="imageThree"
            /> 
          </div>
          <div>
            <label for="beds"></label>
            <input 
            id="houseEditBeds"
            type="Number" 
            placeholder="Beds" 
            name="beds" 
            id="beds" 
            />
          </div>
          <div>
            <label for="baths"></label>
            <input 
            id="houseEditBaths"
            type="Number" 
            placeholder="Baths" 
            name="baths" 
            id="baths" 
            />
          </div>
          <div>
            <label for="price"></label>
            <input 
            id="houseEditPrice"
            type="Number" 
            placeholder="Price" 
            name="price" 
            id="price" 
            />
          </div>
          <div id="homeCityLocation">
            <label for="city">City:</label>
            <select name="city" id="city">
                <option value="dc">D.C.</option>
                <option value="chicago">Chicago</option>
                <option value="dallas">Dallas</option>
            </select>
          </div>
          <div id="realtorChoice">
            <label for = 'realtor'> Choose Realtor </label>
            <select name= "realtor" id="realtor">
                <% realtor.forEach(realtor => { %>
                    <option value="<%= realtor._id %>"><%=realtor.name%>
                    </option>
              <%  }) %>
            </select>
        </div>
          <button id="editHomeButton" class="button is-info">Create Listing</button>
        </form>
  </body>
</html>