<!DOCTYPE html>
<html lang="en">
<head>
    <nav class="navbar">
    <div>
        <a href="/"> Home </a>
        <a href="/house"> Listings </a>
        <a href="/house/new"> Create New Listing </a>
        <a href="/realtor"> Realtor Index </a>
        <a href="/realtor/new"> Realtor New </a>
    </div>
</nav>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    

    <%if (typeof house === 'undefined'){ %>
        <h1> ERROR</h1>
        <% }%>
        
        <% if (typeof house !== 'undefined') { %>
            <%= house[0].name %>
            
            <img src='<%= house[0].imageOne %>'>   

            <%}%>
</body>  
</html>