<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include( '../partials/head.ejs' )  %>
  </head>
<body>
    <%- include( '../partials/nav.ejs' )  %>


   Are you a realtor? Enter your information here! 
    <form method="POST" action="/realtor">
        <div>
            <label for="name">Realtor Name</label>
            <input
            class= "input" 
            type= "text"
            placeholder= "Name"
            name= "name"
            id="name"
            /> 
          </div>
        <div>
            <label for="email">Realtor Email</label>
            <input
            class= "input" 
            type= "text"
            placeholder= "Email Address"
            name= "email"
            id="email"
            />
          </div>
          <div>
            <label for="note">About Me</label>
            <input
            class= "input" 
            type= "text"
            placeholder= "About Me"
            name= "note"
            id="note"
            /> 
          </div> 
          <div>
            <label for="image">Your Picture </label>
            <input
            class= "input" 
            type= "text"
            placeholder= "Your Pic"
            name= "image"
            id="image"
            /> 
          </div>
   

     
        <!-- PROBLEM: how do i get prodcut id into form? -->
        <!-- pattern1- privde all products to form and let user select -->
            <!-- requires passing some product data to the index page -->
        <!-- pattern2- provide a hidden input on a give page (product show page) -->
        <button type="submit"> Add Your Info</button>
    </form>
</body>
</html>