<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include( '../partials/head.ejs' )  %>
  </head>
<body>
    <%- include( '../partials/nav.ejs' )  %>
  </head>
<body class="realtorSignup"> 
  <div class="welcomeScript">
    <h1>Welcome Realtors!</h1>
    <h5>Please fill out the form below.</h5>
  </div>

    <form method="POST" action="/realtor" class="realtorform">

        <div class="realtorInputs">
            <label for="name"></label>
            <input
            class= "input" 
            type= "text"
            placeholder= "Name"
            name= "name"
            id="name"
            /> 
          </div>
        <div>
            <label class="realtorEmail" for="email"></label>
            <input
            class= "input"
            type= "text"
            placeholder= "Email Address"
            name= "email"
            id="email"
            />
          </div>
          <div>
            <label for="note"></label>
            <input
            class= "input" 
            type= "text"
            placeholder= "About Me"
            name= "note"
            id="note"
            /> 
          </div> 
          <div>
            <label for="image"></label>
            <input
            class= "input" 
            type= "text"
            placeholder= "Upload Your Photo"
            name= "image"
            id="image"
            /> 
          </div>
   

     
        <!-- PROBLEM: how do i get prodcut id into form? -->
        <!-- pattern1- privde all products to form and let user select -->
            <!-- requires passing some product data to the index page -->
        <!-- pattern2- provide a hidden input on a give page (product show page) -->
        <button class="realtorButton" type="submit"> Add Your Info</button>
    </form>
</body>
</html>