<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtor</title>
</head>
<body>
    <div>
    <p class="control">
        <form method="POST" action="/realtor/<%= realtor._id %>?_method=DELETE">
            <input class="button is-danger" type="submit" value="Delete Realtor"/> 
            </form>
    </p>
</div>
    Here will be a profile of a realtor that you clicked on 
</body>
</html>